spring:
  application:
    name: randomizer

  datasource:
    url: jdbc:mysql://localhost:3306/dw_randomizer_db?createDatabaseIfNotExist=true
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: false

  main:
    web-application-type: none
    banner-mode: off